
<div class="col-sm-3 col-md-3">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" (click) = "changeRoute('about')" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                    </span>About</a>
                </h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" (click) = "changeRoute('products')" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                    </span>Products</a>
                </h4>
            </div>
        </div>
    </div>
</div>